body{
    font-family: 'Courier New', Courier, monospace;
    border:solid;
   

}
h1{
    text-align: center;

}

img{
    border-radius:50%;
    margin-top: 50px;
    margin-right:10px;
    margin-bottom:20px;
    margin-left:50px;
}


p{

    margin-top: 50px;
    margin-right:10px;
    margin-bottom:20px;
    margin-left:50px;
}